<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
 
<h:head/>
<body>
	<h:form prependId="false">
		<div>
		    <h:inputText value="#{sortingBean.number}" converterMessage="Please enter digits only." />
		    <h:commandButton id="button" value="Sort Number" action="#{sortingBean.sort}"  />
	    </div>
	    <br/>
	    <br/>
	    <div>
	    	<h:outputLabel>Sorted Numbers</h:outputLabel>
	    	<table>
	    		<tbody>
	    			<ui:repeat value="#{sortingBean.savedNumbers}" var="value">
		    			<tr>
		    				<td>
		    					#{value}
		    				</td>
		    			</tr>
					</ui:repeat>
	    		</tbody>
	    	</table>
	    </div>
	    
    </h:form>
</body>
</html>